{% extends "base.html" %}

{% block page_css %}
<style>
#twg-graph {
width: 600px;
height: 300px;
}
#twg-resultsText {
font-size: 10pt;
padding: 20px;
font-family: Arial;
}
.twg-user {
color: green;
width: 150px;
display: block;
float: left;
}
.twg-text {
display: block;
float: left;
}
.twg-tableRow {
clear: both;
padding: 4px;
}
</style>
{% endblock page_css %}
{% block page_js %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/s/js/app.js?v={{version}}"></script>
<script type="text/javascript">
{% block js_state_variables %}
var query_state = new twitgraph.QueryState('{{q|escape}}',
                                {% if dynamic_date %}true{% else %}false{% endif%},
                                Date.parse('{{start|escape}}'),
                                Date.parse('{{end|escape}}'),
                                {{duration|escape}},
                                {% if show_text %}true{% else %}false{% endif%});
{% endblock js_state_variables %}
</script>
{% endblock page_js %}

{% block js_init_function %}twitgraph.Utils.init(){% endblock %}

{% block content %}
<h3>Twitter Graph For: <span id="twg-title"/></h3>
{% block inputs %}
<div id="main">
        <strong>Track how often twitter users are talking about you</strong>
        <form onSubmit="twitgraph.Utils.onSubmit();return false" id="form">
                <div class="input-div">
                        Search: <input id="q" value="{{q}}"/>
                </div>
                <div class="input-div">
                        <input type="radio" name="dateDynamic" value="0" id="dateDynamic0" {% if not dynamic_date %} checked="checked" {% endif %}/>
                        <label for="dateDynamic0">From:</label>
                        <input id="dateStart" value="{{start}}"/>  Until: <input id="dateEnd" value="{{end}}"/>
                </div>
                <div class="input-div">
                        Or
                </div>
                <div class="input-div">
                        <input type="radio" name="dateDynamic" value="1" id="dateDynamic1"  {% if dynamic_date %} checked="checked" {% endif %}/>
                        <label for="dateDynamic1">During the past</label>
                        <input id="duration" value="{{duration}}" size="3"/> days.
                </div>
                <div class="input-div">
                        <input id="showText"  type="checkbox" {% if show_text %} checked="checked" {%endif%}/><label for="showText">Show Texts</label/>
                </div>
                <div class="input-div">
                        <input type="submit" class="btn" value="Show it!"/>
                </div>
        </form>
</div>
{% endblock inputs %}
{% block embed_code %}{% endblock %}
<div style="clear:both"/>
{% block graph %}
        <div id="twg-graph"></div>
{% endblock %}
{% block attribution %}
        <div>
                <img style="border-width: 0px; vertical-align: middle; margin-right: 50px;"
                         src="http://search.twitter.com/images/powered-by-twitter-badge.gif"
                        alt="Powered-by-twitter-badge"/>
                <a href="http://twitter.com/home?status=@rantav">Tweet me @rantav</a> or <a href="http://twitter.com/rantav">follow me</a>
        </div>
        <div style="margin-top:10pt">
                <a href="/about">About TwitGraph</a>
        </div>
{% endblock attribution %}
{% block text_output %}
        <div id="twg-resultsText"></div>
{% endblock %}
{% endblock content %}
