<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>TwitGraph</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
google.load('visualization', '1', {packages: ['linechart']});
</script>


<script type='text/javascript'>

var search;

function jsonp(url, callbackName) {                
	url += '&callback=' + callbackName;
	var script = document.createElement("script");        
	script.setAttribute("src", url);
	script.setAttribute("type", "text/javascript");                
	document.body.appendChild(script);
}

function refresh() {
	// Gather input.
	var dateDynamic = $('dateDynamic1').checked;
	var start, end;
	if (dateDynamic) {
		var duration = parseInt($('duration').value);
		if (isNaN(duration)) {
			alert("Uncool duration, dang!");
			return;
		}
		var today = new Date();
		var yday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);
		end = yday;
		start = new Date(yday.getFullYear(), yday.getMonth(), yday.getDate() - duration);
	} else {
		start = Date.parse($('dateStart').value);
		end = Date.parse($('dateEnd').value);
		if (isNaN(start) || isNaN(end)) {
			alert("Uncool dates, dude!");
			return;
		}
	}
	var q = $('q').value;
	query(q, new Date(start), new Date(end), $('showText').checked);

	$('title').innerHTML = q;
	$('embed-code').value = serialize();
}

function query(q, start, end, showText) {
	search = new SearchMaster(q, start, end, showText);
	search.run();
}

function init() {
	log('start');
	var today = new Date();
	var yday = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 1);
	if (!$('dateEnd').value) {
		$('dateEnd').value = yday.toDateString();
	}
	if (!$('dateStart').value) {
		var aWeekAgo = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 8);
		$('dateStart').value = aWeekAgo.toDateString();
	}
	refresh();
}

function $(el) {
	return document.getElementById(el);
}

function serialize() {
	var a = [];
	a.push('<iframe width="650px" height="400px" frameborder="0" src="');

	a.push(document.location.href.substr(0, document.location.href.indexOf("?"))); // just the hostname without the query
	a.push('?');
	a.push('&q=');
	a.push(encodeURIComponent($('q').value));
	var dateDynamic = $('dateDynamic1').checked;
	if (dateDynamic) {
		a.push('&duration=');
		a.push(encodeURIComponent($('duration').value));
	} else {
		a.push('&date_dynamic=0');
		a.push('&start=');
		a.push(encodeURIComponent($('dateStart').value));
		a.push('&end=');
		a.push(encodeURIComponent($('dateEnd').value));
	}
	if ($('show_text')) {
		a.push('&show_text=1');
	}
	a.push('"> </iframe>');
	return a.join('');
}

function createDelegate(scope, callback, data) {
	var func = function() {
		if (data != undefined) {
        		arguments.push(data);
      		}
      		return callback.apply(scope, arguments);
    	}	
    	return func;
}


function compareDates(a, b) {
	return Date.parse(a.date) > Date.parse(b.date) ? 1 : -1;
}

function log(msg) {
	if (window.console && window.console.log) {
		window.console.log(msg);
	}
}
function error(msg) {
	if (window.console && window.console.error) {
		window.console.error(msg);
	}
}
//////////////////////////////////////////////////
var HAPPY = ' :)';
var SAD = ' :(';
var globalSearchers;
function SearchMaster(q, start, end, showText) {
	this.searchers = [];
	this.doneCount = 0;
	var i = 0;
	this.searchers.push(new Searcher(q, start, end, showText, i++));
	this.searchers.push(new Searcher(q + HAPPY, start, end, showText, i++));
	this.searchers.push(new Searcher(q + SAD, start, end, showText, i++));
	globalSearchers = this.searchers;
}

SearchMaster.prototype.run = function () {
	$('resultsText').innerHTML = '';
	$('graph').innerHTML = 'Loading Graph...';
	this.doneCount = 0;
	for (var i = 0; i < this.searchers.length; ++i) {
		this.searchers[i].run(createDelegate(this, this.onSearchDone));
	}
}

SearchMaster.prototype.onSearchDone = function (searcher) {
	log("Searcher done " + searcher);
	this.doneCount++;
	if (this.doneCount == this.searchers.length) {
		// All searches are ready
		this.drawGraph(this.getAggregateResults());
	}
}

SearchMaster.prototype.getAggregateResults = function() {
	var aggregate = {};
	for (var s = 0; s < this.searchers.length; ++s) {
		var results = this.searchers[s].getAggregateResults();
		for (var date in results) {
			if (!aggregate[date]) {
				aggregate[date] = {};
			}
			aggregate[date][s] = results[date];
		}
	}
	var arr = [];
	for (var date in aggregate) {
		var dateCell = new DateData(date);
		for (var i = 0; i < this.searchers.length; ++i) {
			dateCell[i] = aggregate[date][i];
		}
		arr.push(dateCell);
	}
	arr.sort(compareDates);
	log(arr);
	return arr;
}

SearchMaster.prototype.drawGraph = function(dates) {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'All');
        data.addColumn('number', 'Happy');
        data.addColumn('number', 'Sad');
        data.addRows(dates.length);
	for (var i = 0; i < dates.length; ++i) {
		data.setCell(i, 0, dates[i].date);
		data.setCell(i, 1, dates[i].getAll());
		data.setCell(i, 2, dates[i].getHappy());
		data.setCell(i, 3, dates[i].getSad());
	}
      
        // Create and draw the visualization.
	$('graph').innerHTML = '';
        new google.visualization.LineChart($('graph')).
            draw(data, null);  
}


////////////////////////////////////////////

function DateData(date) {
	this.date = date;
}

DateData.prototype.getAll = function() {
	return this[0];
}

DateData.prototype.getHappy = function() {
	return this[1];
}

DateData.prototype.getSad = function() {
	return this[2];
}

DateData.prototype.toString = function() {
	var str = [this.date];
	if (this.getAll() != undefined) {
		str.push(' :-|');
		str.push(this.getAll());
	}
	if (this.getHappy() != undefined) {
		str.push(' :-)');
		str.push(this.getHappy());
	}
	if (this.getSad() != undefined) {
		str.push(' :-(');
		str.push(this.getSad());
	}
	return str.join('');
}

/////////////////////////////////////////////
var ACCUMULATE = true;
var SEARCH_URL = 'http://search.twitter.com/search.json';
function Searcher(q, start, end, showText, id) {
	this.q = q;
	this.start = start;
	this.end = end;
	this.showText = showText;
	this.results = [];
	this.doneCallback = null;
	this.aggregateResults = null;
	this.id = id;
}


Searcher.prototype.run = function (onDone) {
	this.doneCallback = onDone;
	var searchUrl = SEARCH_URL;
	var query = this.q + " since:" + this.buildDate(this.start) + " until:" + this.buildDate(this.end);
	searchUrl += "?q=" + encodeURIComponent(query);
	searchUrl += '&rpp=100';
	log("Search URL: " + searchUrl);
	jsonp(searchUrl, 'globalSearchers[' + this.id + '].onSearchResult');
}

Searcher.prototype.getAggregateResults = function () {
	return this.aggregateResults;
}

Searcher.prototype.buildDate = function(date) {
	return "" + date.getFullYear() + "-" + this.pad(date.getMonth() + 1) + "-" + this.pad(date.getDate());
}

Searcher.prototype.pad = function(n) {
	return (n < 10) ? "0" + n : "" + n;
}

Searcher.prototype.onSearchResult = function(o) {
	if (o.max_id == -1) {
		// That's an error. No mas para hoy
		error("There were errors in the search");
	}
	this.results = this.results.concat(o.results);
	if (ACCUMULATE && o.next_page) {
		var searchUrl = SEARCH_URL;
		searchUrl += o.next_page;
		log("Recursive Search: " + searchUrl);
		jsonp(searchUrl, 'globalSearchers[' + this.id + '].onSearchResult');
		
	} else {
		this.searchDone();
	}
	if (this.showText) {
		$('resultsText').innerHTML += this.formatTexts(o.results);
	}
}

Searcher.prototype.formatTexts = function(results) {
	var html = [];
	for (var i = 0; i < results.length; ++i) {
		html.push('<div class="tableRow">');
		html.push('<span class="user">');
		html.push(results[i].from_user);
		html.push(": ");
		html.push("</span>");
		html.push('<span class="text">');
		html.push(results[i].text);
		html.push('</span>');
		html.push('</div>');
	}
	return html.join("");
}

Searcher.prototype.searchDone = function () {
	var dates = {};
	for (var i = 0; i < this.results.length; ++i) {
		var date = new Date(this.results[i].created_at);
		//Extract only the short format which includes the date only
		date = date.toDateString();
		if (!dates[date]) {
			dates[date] = 0;
		}
		++dates[date];
	}
	this.aggregateResults = dates;
	this.doneCallback(this);
}

Searcher.prototype.toString = function () {
	return 'q=' + this.q;
}

</script>
<style>
body {
	font-family: Arial;
}
#graph {
	width: 600px;
	height: 300px;
}

#resultsText {
	font-size: 10pt;
	padding: 20px;
}

.user {
	color: green;
	width: 150px;
	display: block;
	float: left;
}

.text {
	display: block;
	float: left;
}

.tableRow {
	clear: both; 
	padding: 4px;
}

#main {
	float: left;
	width: 500px;
	background-color: #eee;
	padding: 5px;
}
#embed {
	float: left;
	background-color: #ddd;
	padding: 5px;
	margin-left: 10px;
}

#main, #embed {
{% if not show_inputs %}
	display: none;
{% endif %}
}

#embed-code {
	width: 300px;
	height: 60px;
}
input.btn {
	color:#050;
	font: bold 84% 'trebuchet ms',helvetica,sans-serif;
	background-color:#fed;
	border:1px solid;
	border-color: #696 #363 #363 #696;
	width: 100%;
}

div.input-div {
	padding: 3pt;
}
</style>
</head>
<body onload="init()">
	<h3>Twitter Graph For: <span id="title"/></h3>
	
	<div id="main">
		<strong>Track how often twitter users are talking about you</strong>
		<form onSubmit="refresh(); return false" id="form">
			<div class="input-div">
				Search: <input id="q" value="{{q}}"/>
			</div>
			<div class="input-div">
				<input type="radio" name="dateDynamic" value="0" id="dateDynamic0" {% if not date_dynamic %} checked="checked" {% endif %}/>
				<label for="dateDynamic0">From:</label>
				<input id="dateStart" value="{{start}}"/>  Until: <input id="dateEnd" value="{{end}}"/>
			</div>
			<div class="input-div">
				Or
			</div>
			<div class="input-div">
				<input type="radio" name="dateDynamic" value="1" id="dateDynamic1"  {% if date_dynamic %} checked="checked" {% endif %}/>
				<label for="dateDynamic1">During the past</label>
				<input id="duration" value="{{duration}}" size="3"/> days.
			</div>
			<div class="input-div">
				<input id="showText"  type="checkbox" {% if show_text %} checked="checked" {%endif%}/><label for="showText">Show Texts</label/>
			</div>
			<div class="input-div">
				<input type="submit" class="btn" value="Show it!"/>
			</div>
		</form>
	</div>
	<div id="embed">
		Embed this: <br/>
		<textarea id="embed-code" readonly="readonly" onclick="focus();select()">
		</textarea>

	</div>
	<div style="clear:both"/>
	<div id="graph"></div>

	<img style="border-width: 0px; vertical-align: middle; margin-right: 50px;" src="http://search.twitter.com/images/powered-by-twitter-badge.gif" class="badge" alt="Powered-by-twitter-badge"/>

	<div id="resultsText"></div>

</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7467594-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</html>
